<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zjjf.analysis.mapper.local.BaseItembaseMapper" >
  <resultMap id="BaseResultMap" type="com.zjjf.analysis.beans.local.BaseItembase" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="org_pk_id" property="org_pk_id" jdbcType="VARCHAR" />
    <result column="cateId" property="cateId" jdbcType="INTEGER" />
    <result column="mdseId" property="mdseId" jdbcType="VARCHAR" />
    <result column="ordId" property="ordId" jdbcType="TINYINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="brand" property="brand" jdbcType="VARCHAR" />
    <result column="spec" property="spec" jdbcType="VARCHAR" />
    <result column="imgS" property="imgS" jdbcType="VARCHAR" />
    <result column="imgB" property="imgB" jdbcType="VARCHAR" />
    <result column="price" property="price" jdbcType="DECIMAL" />
    <result column="sales" property="sales" jdbcType="INTEGER" />
    <result column="news" property="news" jdbcType="BIT" />
    <result column="tuiJian" property="tuiJian" jdbcType="BIT" />
    <result column="addTime" property="addTime" jdbcType="TIMESTAMP" />
    <result column="updateTime" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="isDelete" property="isDelete" jdbcType="BIT" />
    <result column="col1" property="col1" jdbcType="VARCHAR" />
    <result column="col2" property="col2" jdbcType="VARCHAR" />
    <result column="col3" property="col3" jdbcType="VARCHAR" />
    <result column="col4" property="col4" jdbcType="VARCHAR" />
    <result column="col5" property="col5" jdbcType="VARCHAR" />
    <result column="col6" property="col6" jdbcType="VARCHAR" />
    <result column="col7" property="col7" jdbcType="VARCHAR" />
    <result column="col8" property="col8" jdbcType="VARCHAR" />
    <result column="col9" property="col9" jdbcType="VARCHAR" />
    <result column="col10" property="col10" jdbcType="VARCHAR" />
    <result column="pfPrice" property="pfPrice" jdbcType="DECIMAL" />
    <result column="useType" property="useType" jdbcType="TINYINT" />
    <result column="taste" property="taste" jdbcType="VARCHAR" />
    <result column="measure" property="measure" jdbcType="VARCHAR" />
    <result column="shortNm" property="shortNm" jdbcType="VARCHAR" />
    <result column="pkg" property="pkg" jdbcType="VARCHAR" />
    <result column="pkgNum" property="pkgNum" jdbcType="INTEGER" />
    <result column="upId" property="upId" jdbcType="INTEGER" />
    <result column="brandId" property="brandId" jdbcType="INTEGER" />
    <result column="tgId" property="tgId" jdbcType="VARCHAR" />
    <result column="color" property="color" jdbcType="VARCHAR" />
    <result column="quanNm" property="quanNm" jdbcType="VARCHAR" />
    <result column="createTime" property="createTime" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.zjjf.analysis.beans.local.BaseItembase" extends="BaseResultMap" >
    <result column="info" property="info" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, org_pk_id, cateId, mdseId, ordId, name, brand, spec, imgS, imgB, price, sales, 
    news, tuiJian, addTime, updateTime, status, isDelete, col1, col2, col3, col4, col5, 
    col6, col7, col8, col9, col10, pfPrice, useType, taste, measure, shortNm, pkg, pkgNum, 
    upId, brandId, tgId, color, quanNm, createTime
  </sql>
  <sql id="Blob_Column_List" >
    info
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from base_itembase
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from base_itembase
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zjjf.analysis.beans.local.BaseItembase" >
    insert into base_itembase (id, org_pk_id, cateId, 
      mdseId, ordId, name, 
      brand, spec, imgS, 
      imgB, price, sales, 
      news, tuiJian, addTime, updateTime, 
      status, isDelete, col1, 
      col2, col3, col4, col5, 
      col6, col7, col8, col9, 
      col10, pfPrice, useType, 
      taste, measure, shortNm, 
      pkg, pkgNum, upId, 
      brandId, tgId, color, 
      quanNm, createTime, info
      )
    values (#{id,jdbcType=INTEGER}, #{org_pk_id,jdbcType=VARCHAR}, #{cateId,jdbcType=INTEGER}, 
      #{mdseId,jdbcType=VARCHAR}, #{ordId,jdbcType=TINYINT}, #{name,jdbcType=VARCHAR}, 
      #{brand,jdbcType=VARCHAR}, #{spec,jdbcType=VARCHAR}, #{imgS,jdbcType=VARCHAR}, 
      #{imgB,jdbcType=VARCHAR}, #{price,jdbcType=DECIMAL}, #{sales,jdbcType=INTEGER}, 
      #{news,jdbcType=BIT}, #{tuiJian,jdbcType=BIT}, #{addTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{status,jdbcType=TINYINT}, #{isDelete,jdbcType=BIT}, #{col1,jdbcType=VARCHAR}, 
      #{col2,jdbcType=VARCHAR}, #{col3,jdbcType=VARCHAR}, #{col4,jdbcType=VARCHAR}, #{col5,jdbcType=VARCHAR}, 
      #{col6,jdbcType=VARCHAR}, #{col7,jdbcType=VARCHAR}, #{col8,jdbcType=VARCHAR}, #{col9,jdbcType=VARCHAR}, 
      #{col10,jdbcType=VARCHAR}, #{pfPrice,jdbcType=DECIMAL}, #{useType,jdbcType=TINYINT}, 
      #{taste,jdbcType=VARCHAR}, #{measure,jdbcType=VARCHAR}, #{shortNm,jdbcType=VARCHAR}, 
      #{pkg,jdbcType=VARCHAR}, #{pkgNum,jdbcType=INTEGER}, #{upId,jdbcType=INTEGER}, 
      #{brandId,jdbcType=INTEGER}, #{tgId,jdbcType=VARCHAR}, #{color,jdbcType=VARCHAR}, 
      #{quanNm,jdbcType=VARCHAR}, #{createTime,jdbcType=INTEGER}, #{info,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zjjf.analysis.beans.local.BaseItembase" >
    insert into base_itembase
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="org_pk_id != null" >
        org_pk_id,
      </if>
      <if test="cateId != null" >
        cateId,
      </if>
      <if test="mdseId != null" >
        mdseId,
      </if>
      <if test="ordId != null" >
        ordId,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="brand != null" >
        brand,
      </if>
      <if test="spec != null" >
        spec,
      </if>
      <if test="imgS != null" >
        imgS,
      </if>
      <if test="imgB != null" >
        imgB,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="sales != null" >
        sales,
      </if>
      <if test="news != null" >
        news,
      </if>
      <if test="tuiJian != null" >
        tuiJian,
      </if>
      <if test="addTime != null" >
        addTime,
      </if>
      <if test="updateTime != null" >
        updateTime,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="isDelete != null" >
        isDelete,
      </if>
      <if test="col1 != null" >
        col1,
      </if>
      <if test="col2 != null" >
        col2,
      </if>
      <if test="col3 != null" >
        col3,
      </if>
      <if test="col4 != null" >
        col4,
      </if>
      <if test="col5 != null" >
        col5,
      </if>
      <if test="col6 != null" >
        col6,
      </if>
      <if test="col7 != null" >
        col7,
      </if>
      <if test="col8 != null" >
        col8,
      </if>
      <if test="col9 != null" >
        col9,
      </if>
      <if test="col10 != null" >
        col10,
      </if>
      <if test="pfPrice != null" >
        pfPrice,
      </if>
      <if test="useType != null" >
        useType,
      </if>
      <if test="taste != null" >
        taste,
      </if>
      <if test="measure != null" >
        measure,
      </if>
      <if test="shortNm != null" >
        shortNm,
      </if>
      <if test="pkg != null" >
        pkg,
      </if>
      <if test="pkgNum != null" >
        pkgNum,
      </if>
      <if test="upId != null" >
        upId,
      </if>
      <if test="brandId != null" >
        brandId,
      </if>
      <if test="tgId != null" >
        tgId,
      </if>
      <if test="color != null" >
        color,
      </if>
      <if test="quanNm != null" >
        quanNm,
      </if>
      <if test="createTime != null" >
        createTime,
      </if>
      <if test="info != null" >
        info,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="org_pk_id != null" >
        #{org_pk_id,jdbcType=VARCHAR},
      </if>
      <if test="cateId != null" >
        #{cateId,jdbcType=INTEGER},
      </if>
      <if test="mdseId != null" >
        #{mdseId,jdbcType=VARCHAR},
      </if>
      <if test="ordId != null" >
        #{ordId,jdbcType=TINYINT},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="brand != null" >
        #{brand,jdbcType=VARCHAR},
      </if>
      <if test="spec != null" >
        #{spec,jdbcType=VARCHAR},
      </if>
      <if test="imgS != null" >
        #{imgS,jdbcType=VARCHAR},
      </if>
      <if test="imgB != null" >
        #{imgB,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="sales != null" >
        #{sales,jdbcType=INTEGER},
      </if>
      <if test="news != null" >
        #{news,jdbcType=BIT},
      </if>
      <if test="tuiJian != null" >
        #{tuiJian,jdbcType=BIT},
      </if>
      <if test="addTime != null" >
        #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=TINYINT},
      </if>
      <if test="isDelete != null" >
        #{isDelete,jdbcType=BIT},
      </if>
      <if test="col1 != null" >
        #{col1,jdbcType=VARCHAR},
      </if>
      <if test="col2 != null" >
        #{col2,jdbcType=VARCHAR},
      </if>
      <if test="col3 != null" >
        #{col3,jdbcType=VARCHAR},
      </if>
      <if test="col4 != null" >
        #{col4,jdbcType=VARCHAR},
      </if>
      <if test="col5 != null" >
        #{col5,jdbcType=VARCHAR},
      </if>
      <if test="col6 != null" >
        #{col6,jdbcType=VARCHAR},
      </if>
      <if test="col7 != null" >
        #{col7,jdbcType=VARCHAR},
      </if>
      <if test="col8 != null" >
        #{col8,jdbcType=VARCHAR},
      </if>
      <if test="col9 != null" >
        #{col9,jdbcType=VARCHAR},
      </if>
      <if test="col10 != null" >
        #{col10,jdbcType=VARCHAR},
      </if>
      <if test="pfPrice != null" >
        #{pfPrice,jdbcType=DECIMAL},
      </if>
      <if test="useType != null" >
        #{useType,jdbcType=TINYINT},
      </if>
      <if test="taste != null" >
        #{taste,jdbcType=VARCHAR},
      </if>
      <if test="measure != null" >
        #{measure,jdbcType=VARCHAR},
      </if>
      <if test="shortNm != null" >
        #{shortNm,jdbcType=VARCHAR},
      </if>
      <if test="pkg != null" >
        #{pkg,jdbcType=VARCHAR},
      </if>
      <if test="pkgNum != null" >
        #{pkgNum,jdbcType=INTEGER},
      </if>
      <if test="upId != null" >
        #{upId,jdbcType=INTEGER},
      </if>
      <if test="brandId != null" >
        #{brandId,jdbcType=INTEGER},
      </if>
      <if test="tgId != null" >
        #{tgId,jdbcType=VARCHAR},
      </if>
      <if test="color != null" >
        #{color,jdbcType=VARCHAR},
      </if>
      <if test="quanNm != null" >
        #{quanNm,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=INTEGER},
      </if>
      <if test="info != null" >
        #{info,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zjjf.analysis.beans.local.BaseItembase" >
    update base_itembase
    <set >
      <if test="org_pk_id != null" >
        org_pk_id = #{org_pk_id,jdbcType=VARCHAR},
      </if>
      <if test="cateId != null" >
        cateId = #{cateId,jdbcType=INTEGER},
      </if>
      <if test="mdseId != null" >
        mdseId = #{mdseId,jdbcType=VARCHAR},
      </if>
      <if test="ordId != null" >
        ordId = #{ordId,jdbcType=TINYINT},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="brand != null" >
        brand = #{brand,jdbcType=VARCHAR},
      </if>
      <if test="spec != null" >
        spec = #{spec,jdbcType=VARCHAR},
      </if>
      <if test="imgS != null" >
        imgS = #{imgS,jdbcType=VARCHAR},
      </if>
      <if test="imgB != null" >
        imgB = #{imgB,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="sales != null" >
        sales = #{sales,jdbcType=INTEGER},
      </if>
      <if test="news != null" >
        news = #{news,jdbcType=BIT},
      </if>
      <if test="tuiJian != null" >
        tuiJian = #{tuiJian,jdbcType=BIT},
      </if>
      <if test="addTime != null" >
        addTime = #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        updateTime = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="isDelete != null" >
        isDelete = #{isDelete,jdbcType=BIT},
      </if>
      <if test="col1 != null" >
        col1 = #{col1,jdbcType=VARCHAR},
      </if>
      <if test="col2 != null" >
        col2 = #{col2,jdbcType=VARCHAR},
      </if>
      <if test="col3 != null" >
        col3 = #{col3,jdbcType=VARCHAR},
      </if>
      <if test="col4 != null" >
        col4 = #{col4,jdbcType=VARCHAR},
      </if>
      <if test="col5 != null" >
        col5 = #{col5,jdbcType=VARCHAR},
      </if>
      <if test="col6 != null" >
        col6 = #{col6,jdbcType=VARCHAR},
      </if>
      <if test="col7 != null" >
        col7 = #{col7,jdbcType=VARCHAR},
      </if>
      <if test="col8 != null" >
        col8 = #{col8,jdbcType=VARCHAR},
      </if>
      <if test="col9 != null" >
        col9 = #{col9,jdbcType=VARCHAR},
      </if>
      <if test="col10 != null" >
        col10 = #{col10,jdbcType=VARCHAR},
      </if>
      <if test="pfPrice != null" >
        pfPrice = #{pfPrice,jdbcType=DECIMAL},
      </if>
      <if test="useType != null" >
        useType = #{useType,jdbcType=TINYINT},
      </if>
      <if test="taste != null" >
        taste = #{taste,jdbcType=VARCHAR},
      </if>
      <if test="measure != null" >
        measure = #{measure,jdbcType=VARCHAR},
      </if>
      <if test="shortNm != null" >
        shortNm = #{shortNm,jdbcType=VARCHAR},
      </if>
      <if test="pkg != null" >
        pkg = #{pkg,jdbcType=VARCHAR},
      </if>
      <if test="pkgNum != null" >
        pkgNum = #{pkgNum,jdbcType=INTEGER},
      </if>
      <if test="upId != null" >
        upId = #{upId,jdbcType=INTEGER},
      </if>
      <if test="brandId != null" >
        brandId = #{brandId,jdbcType=INTEGER},
      </if>
      <if test="tgId != null" >
        tgId = #{tgId,jdbcType=VARCHAR},
      </if>
      <if test="color != null" >
        color = #{color,jdbcType=VARCHAR},
      </if>
      <if test="quanNm != null" >
        quanNm = #{quanNm,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        createTime = #{createTime,jdbcType=INTEGER},
      </if>
      <if test="info != null" >
        info = #{info,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.zjjf.analysis.beans.local.BaseItembase" >
    update base_itembase
    set org_pk_id = #{org_pk_id,jdbcType=VARCHAR},
      cateId = #{cateId,jdbcType=INTEGER},
      mdseId = #{mdseId,jdbcType=VARCHAR},
      ordId = #{ordId,jdbcType=TINYINT},
      name = #{name,jdbcType=VARCHAR},
      brand = #{brand,jdbcType=VARCHAR},
      spec = #{spec,jdbcType=VARCHAR},
      imgS = #{imgS,jdbcType=VARCHAR},
      imgB = #{imgB,jdbcType=VARCHAR},
      price = #{price,jdbcType=DECIMAL},
      sales = #{sales,jdbcType=INTEGER},
      news = #{news,jdbcType=BIT},
      tuiJian = #{tuiJian,jdbcType=BIT},
      addTime = #{addTime,jdbcType=TIMESTAMP},
      updateTime = #{updateTime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=TINYINT},
      isDelete = #{isDelete,jdbcType=BIT},
      col1 = #{col1,jdbcType=VARCHAR},
      col2 = #{col2,jdbcType=VARCHAR},
      col3 = #{col3,jdbcType=VARCHAR},
      col4 = #{col4,jdbcType=VARCHAR},
      col5 = #{col5,jdbcType=VARCHAR},
      col6 = #{col6,jdbcType=VARCHAR},
      col7 = #{col7,jdbcType=VARCHAR},
      col8 = #{col8,jdbcType=VARCHAR},
      col9 = #{col9,jdbcType=VARCHAR},
      col10 = #{col10,jdbcType=VARCHAR},
      pfPrice = #{pfPrice,jdbcType=DECIMAL},
      useType = #{useType,jdbcType=TINYINT},
      taste = #{taste,jdbcType=VARCHAR},
      measure = #{measure,jdbcType=VARCHAR},
      shortNm = #{shortNm,jdbcType=VARCHAR},
      pkg = #{pkg,jdbcType=VARCHAR},
      pkgNum = #{pkgNum,jdbcType=INTEGER},
      upId = #{upId,jdbcType=INTEGER},
      brandId = #{brandId,jdbcType=INTEGER},
      tgId = #{tgId,jdbcType=VARCHAR},
      color = #{color,jdbcType=VARCHAR},
      quanNm = #{quanNm,jdbcType=VARCHAR},
      createTime = #{createTime,jdbcType=INTEGER},
      info = #{info,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zjjf.analysis.beans.local.BaseItembase" >
    update base_itembase
    set org_pk_id = #{org_pk_id,jdbcType=VARCHAR},
      cateId = #{cateId,jdbcType=INTEGER},
      mdseId = #{mdseId,jdbcType=VARCHAR},
      ordId = #{ordId,jdbcType=TINYINT},
      name = #{name,jdbcType=VARCHAR},
      brand = #{brand,jdbcType=VARCHAR},
      spec = #{spec,jdbcType=VARCHAR},
      imgS = #{imgS,jdbcType=VARCHAR},
      imgB = #{imgB,jdbcType=VARCHAR},
      price = #{price,jdbcType=DECIMAL},
      sales = #{sales,jdbcType=INTEGER},
      news = #{news,jdbcType=BIT},
      tuiJian = #{tuiJian,jdbcType=BIT},
      addTime = #{addTime,jdbcType=TIMESTAMP},
      updateTime = #{updateTime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=TINYINT},
      isDelete = #{isDelete,jdbcType=BIT},
      col1 = #{col1,jdbcType=VARCHAR},
      col2 = #{col2,jdbcType=VARCHAR},
      col3 = #{col3,jdbcType=VARCHAR},
      col4 = #{col4,jdbcType=VARCHAR},
      col5 = #{col5,jdbcType=VARCHAR},
      col6 = #{col6,jdbcType=VARCHAR},
      col7 = #{col7,jdbcType=VARCHAR},
      col8 = #{col8,jdbcType=VARCHAR},
      col9 = #{col9,jdbcType=VARCHAR},
      col10 = #{col10,jdbcType=VARCHAR},
      pfPrice = #{pfPrice,jdbcType=DECIMAL},
      useType = #{useType,jdbcType=TINYINT},
      taste = #{taste,jdbcType=VARCHAR},
      measure = #{measure,jdbcType=VARCHAR},
      shortNm = #{shortNm,jdbcType=VARCHAR},
      pkg = #{pkg,jdbcType=VARCHAR},
      pkgNum = #{pkgNum,jdbcType=INTEGER},
      upId = #{upId,jdbcType=INTEGER},
      brandId = #{brandId,jdbcType=INTEGER},
      tgId = #{tgId,jdbcType=VARCHAR},
      color = #{color,jdbcType=VARCHAR},
      quanNm = #{quanNm,jdbcType=VARCHAR},
      createTime = #{createTime,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>